<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{title}}{% endblock %}</title>
    
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        {% block stylesheets %}{% endblock %}
        <style>
            body{background:#2f2f2f; color:white}
            .task{color:#222;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
            
        {% block body %}
            <div class="page-header">
              <h1>{{ message }} <small>welcome user!</small></h1>
            </div>
        {% endblock %}
                
        {% if alert is defined %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ alert }}
        </div>   
        {% endif %}
            
            <h3>Add New Task</h3>
            {{form_start(form)}}
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
            {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
            </div>
            {{form_end(form)}}   
        
            {% if tasks is defined %} 
            <h3>Upcoming Tasks</h3>
            <ul class="list-group">    
            {% for task in tasks %}
                <li class="list-group-item clearfix">
                    <div class="task pull-left">
                    <p><strong>{{ task.description}}</strong></p>
                    <p>{{ task.date|date("m/d/Y", false)}}</p>
                    </div>
                    <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                      <a href="edit/{{task.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      <a href="remove/{{task.id}}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
                
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
        
    </body>
</html>
