<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{title}}{% endblock %}</title>
    
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        {% block stylesheets %}{% endblock %}
        <style>
            body{background:#2f2f2f; color:white}
            .task{color:#222;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
            
        {% block body %}
            <div class="page-header">
              <h1>{{ message }} <small>welcome user!</small></h1>
            </div>
        {% endblock %}
        
        {% for label, alerts in app.flashes %}
            {% for alert in alerts %}
            <div class="alert alert-{{label}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ alert }}
            </div> 
            {% endfor %}
        {% endfor %}
            
            <h3>Update Task</h3>
            {{form_start(form)}}
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
            {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
            </div>
            {{form_end(form)}}   

                <hr/>
                <h3>Comments</h3>
                {% if comments is not empty %} 
                <ul class="list-group">    
                {% for item in comments %}
                    <li class="list-group-item clearfix">
                        <div class="task pull-left">
                        <p><strong>{{ item.comment }}</strong></p>
                        </div>
                        <a href="{{ path('removeComment', {'post': item.todoId.id,'comment': item.id}) }}" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>No Comments Added</p>
                {% endif %}
                <hr/>    
                
            <h3>Add New Comment</h3>
            {{form_start(comment_form)}}
            {{ form_errors(comment_form) }}

            <div class="form-group">
            {{ form_label(comment_form.comment) }}
            {{ form_errors(comment_form.comment) }}
            {{ form_widget(comment_form.comment, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_widget(comment_form.todo_id) }}
            </div>

            <div class="form-group">
            {{ form_widget(comment_form.save, { 'attr': {'class': 'btn btn-info'} }) }}
            </div>
            {{form_end(comment_form)}}   
                
            <hr/>
            <div style="margin-bottom:20px">
            <a href="{{ path('homepage') }}" class="btn btn-default btn-lg">Go Back Home</a>
            </div>
                
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
        
    </body>
</html>
