{# app/Resources/views/edit.html.twig #}

{% extends 'base.html.twig' %}

    {% block body %}
 
            {# update the task form #}
            <h3>Update Task</h3>
            {{form_start(form)}}
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
            {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
            </div>
            {{form_end(form)}}   
                

                {# loop and display comments #}
                <hr/>
                <h3>Comments</h3>
                {% if comments is not empty %} 
                <ul class="list-group">    
                {% for item in comments %}
                    <li class="list-group-item clearfix">
                        <div class="task pull-left">
                        <p><strong>{{ item.comment }}</strong></p>
                        </div>
                        <a href="{{ path('removeComment', {'post': item.todoId.id,'comment': item.id}) }}" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>No Comments Added</p>
                {% endif %}
                <hr/>    
            
            {# Display add comment form #}
            <h3>Add New Comment</h3>
            {{form_start(comment_form)}}
            {{ form_errors(comment_form) }}

            <div class="form-group">
            {{ form_label(comment_form.comment) }}
            {{ form_errors(comment_form.comment) }}
            {{ form_widget(comment_form.comment, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_widget(comment_form.todo_id) }}
            </div>

            <div class="form-group">
            {{ form_widget(comment_form.save, { 'attr': {'class': 'btn btn-info'} }) }}
            </div>
            {{form_end(comment_form)}}   
             

                {# Display the back to homepage button #}
                <hr/>
                <div style="margin-bottom:20px">
                <a href="{{ path('homepage') }}" class="btn btn-default btn-lg">Go Back Home</a>
                </div>
                
    {% endblock %}