{# app/Resources/views/home.html.twig #}

{% extends 'base.html.twig' %}
    
    {% block body %}
            
            {# display the add new task form#}
            <h3>Add New Task</h3>
            {{form_start(form)}}
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
            {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
            </div>
            {{form_end(form)}}   
            

            {# display all upcoming tasks if available #}
            <h3>Upcoming Tasks</h3>    
            {% if tasks is not empty %} 
            <ul class="list-group">    
            {% for task in tasks %}
                <li class="list-group-item clearfix">
                    <div class="task pull-left">
                    <p><strong>{{ task.description}}</strong></p>
                    <p>{{ task.date|date("m/d/Y", false)}}</p>
                    </div>
                    <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                      <a href="{{ path('app_todo_editpost', {'post': task.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      <a href="{{ path('app_todo_removepost', {'post': task.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% else %}
                <p>No ToDo Tasks have been added.</p>
            {% endif %}    
                
    {% endblock %}